<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Search Bank
    </ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-searchbar [(ngModel)]="search"></ion-searchbar>
    <ion-label>Location</ion-label>
    <ion-select slot="end" placeholder="Select One" [(ngModel)]="city" (ionChange)="changeCity($event)">
      <ion-select-option *ngFor="let city of CITIES" [value]="city">{{city | titlecase}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content>

  <div *ngIf="searchResults.length">
    <ion-card *ngFor="let bank of (searchResults | filter:search)">
      <ion-card-header>
        <ion-card-title>{{bank.bank_name}}</ion-card-title>
        <ion-card-subtitle>{{bank.branch | titlecase}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{bank.ifsc}}
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!searchResults.length">
    <ion-card *ngFor="let item of [0,1,2,3,4,5,6,7,8]">
      <ion-card-header>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>